---
---

<section class="px-6 md:px-20 py-24 bg-neutral-800 ">
  <div class="max-w-9xl grid grid-cols-1 md:grid-cols-3 gap-12">

    <div>
      <h3 class="font-serif text-xl mb-4">Caminhos com história</h3>
      <p class="text-neutral-400">
        Roteiros baseados em contextos históricos,
        culturais e territoriais reais.
      </p>
    </div>

    <div>
      <h3 class="font-serif text-xl mb-4">Ritmo da estrada</h3>
      <p class="text-neutral-400">
        Viagens sem pressa, respeitando o tempo
        do caminho e das pessoas.
      </p>
    </div>

    <div>
      <h3 class="font-serif text-xl mb-4">Experiência, não corrida</h3>
      <p class="text-neutral-400">
        Não é sobre velocidade ou desafio extremo,
        é sobre presença.
      </p>
    </div>

  </div>
</section>
