---
const { title = "Estradas que Contam Histórias" } = Astro.props;
---
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="bg-neutral-950 text-neutral-100 font-sans">
    <slot />
  </body>
</html>
